<!DOCTYPE html>
<html>
<head>
  <title>Glintpod</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    yield(:customCSS), :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body <%=yield(:bodyId) %> >
<%= yield %>
<footer>
  <%= javascript_include_tag "application" %>
</footer>
</body>
</html>
